// Use this file to overwrite the basic Bootstrap variables and add your own variables
// THERE ARE MANY, MANY VARIABLES TO OVERRIDE, THESE ARE JUST SOME OF THE MOST OBVIOUSLY USEABLE
// They live in sass/bootstrap4/_variables.scss
// When overriding a Bootstrap variable, remove the !default flag to ensure it is used.
// A useful guide to look at is: http://getbootstrap.com/docs/4.0/getting-started/theming/

///////
// Colors
//////
// Theme colors
    // Add the correct theme colors to override
    // They are sroted in a map called $theme-colors, this can be extended with map-merge(). See Bootstrap docs for help.
    // Try and utilise the other theme-colors where relevant.
    // Use with theme-color('dark')
    // See http://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for best use.
$primary: #c00 !default; // primary site colour
$secondary: #6ac !default; // inverse of primary brand, typically used for CTAs
// $success:
// $info:
// $warning:
// $danger:
// $light:
// $dark:

// All colors and Grays
// Named-colors
    // Bootstrap provides $blue, $indigo, $purple, $pink, $red, $orange, $yellow, $green, $teal, $cyan. Override (if needed) and use these where possible.
    // They are sroted in a map called $colors, this can be extended with map-merge(). See Bootstrap docs for help.
    // These will be expanded on in future version, similar to how grays are done below.
    // Use with color('purple')
    // See http://getbootstrap.com/docs/4.0/getting-started/theming/#all-colors

// Grays
    // Grayscale is now represented like font-weight, from $white, $gray-100, $gray-200, ..., $gray-900, $black. Override (if needed) and use these where possible.
    // you can use "$gray" and "$gray-dark" by using the color() function as so: color('gray'), color('gray-dark').
    // See http://getbootstrap.com/docs/4.0/getting-started/theming/#grays

// Other useful overrides for colors and links
// $body-bg:
// $body-color:
// $link-color:
// $link-decoration:
// $link-hover-color:
// $link-hover-decoration:
// $paragraph-margin-bottom:

// Brand colors
    // // They are sroted in a map called $brand-colors, this can be extended with map-merge(), or by adding new vars below. See Bootstrap docs for help.
    // Generated from https://brandcolors.net
$brand-colors: (
    'facebook': #3b5998,
    'twitter': #1da1f2,
    'linkedin': #0077b5,
    'instagram': #405de6,
    'rss': #f26522,
    'google-plus': #dd4b39,
    'pinterest': #bd081c
);

@function brand-color($color-name) {
    @return map-get($brand-colors, $color-name);
}

// Useful functions
    // Use color-yiq($background-color) to generate the correct-contrast color to be overlaid over a $background-color, e.g. a button.

///////
// Options
    // Here are options to change some default values. They are currently set to their defaults, so to override uncomment and change the boolean.
//////
// $enable-caret:              true;
// $enable-rounded:            true;
// $enable-shadows:            false;
// $enable-gradients:          false;
// $enable-transitions:        true;
// $enable-hover-media-query:  false;
// $enable-grid-classes:       true;
// $enable-print-styles:       true;

///////
// Transitions
//////
// To ensure the same transition across the site, add a number here
$transition-duration-general: .3s ease-in-out;

///////
// Fonts
    // There are many more font options in the _variables.scss file. They are currently set to their defaults, so to override uncomment and change the value.
//////
// $font-family-base:
// $font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
// $font-size-lg:                ($font-size-base * 1.25) !default;
// $font-size-sm:                ($font-size-base * .875) !default;
// $line-height-base:            1.5 !default;
// $h1-font-size:                $font-size-base * 2.5 !default;
// $h2-font-size:                $font-size-base * 2 !default;
// $h3-font-size:                $font-size-base * 1.75 !default;
// $h4-font-size:                $font-size-base * 1.5 !default;
// $h5-font-size:                $font-size-base * 1.25 !default;
// $h6-font-size:                $font-size-base !default;
