// Add styling for shortcodes here

.social-links {
    display: flex;
    flex-direction: row;

    margin-bottom: 0;

    list-style: none;

    font-size: 1.5rem;

    a:link {
        text-decoration: none;
    }

    &.colour,
    &.color {

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            width: 44px;
            height: 44px;

            border-radius: 100%;
            border: 1.5px solid;

            font-size: 1.25rem;

            transition: all .2s ease-in-out;

            @media #{$small-up}     {
                // width: 5.25rem;
                // height: 5.25rem;

                // font-size: 1.75rem;
            }

            &:hover {
                color: $white;
                border-width: 22px;

                text-decoration: none;
            }
        }

        .facebook {
            color: brand-color('facebook');
            border-color: brand-color('facebook');
        }

        .twitter {
            color: brand-color('twitter');
            border-color: brand-color('twitter');
        }

        .google {
            color: brand-color('google-plus');
            border-color: brand-color('google-plus');
        }

        .linkedin {
            color: brand-color('linkedin');
            border-color: brand-color('linkedin');
        }

        .pinterest {
            color: brand-color('pinterest');
            border-color: brand-color('pinterest');
        }

        .instagram {
            color: brand-color('instagram');
            border-color: brand-color('instagram');
        }

        .rss {
            color: brand-color('rss');
            border-color: brand-color('rss');
        }
    }

    &.outline {

        a {
            display: inline-flex;
            justify-content: center;
            align-items: center;

            width: 44px;
            height: 44px;

            color: $secondary;
            border-color: $secondary;
            border-radius: 100%;
            border: 1.5px solid;

            font-size: 1.25rem;

            transition: all .2s ease-in-out;

            @media #{$small-up}     {
                // width: 5.25rem;
                // height: 5.25rem;

                // font-size: 1.75rem;
            }

            &:hover {
                color: $white;
                border-width: 22px;
                text-decoration: none;

            }

            &.facebook:hover {
                border-color: brand-color('facebook');
            }

            &.twitter:hover {
                border-color: brand-color('twitter');
            }

            &.google:hover {
                border-color: brand-color('google-plus');
            }

            &.linkedin:hover {
                border-color: brand-color('linkedin');
            }

            &.pinterest:hover {
                border-color: brand-color('pinterest');
            }

            &.instagram:hover {
                border-color: brand-color('instagram');
            }

            &.rss:hover {
                border-color: brand-color('rss');
            }
        }
    }

    &.inherit {

        a {
            color: inherit;
        }

        .facebook:hover {color: brand-color('facebook');}
        .twitter:hover {color: brand-color('twitter');}
        .google:hover {color: brand-color('google-plus');}
        .linkedin:hover {color: brand-color('linkedin');}
        .pinterest:hover {color: brand-color('pinterest');}
        .instagram:hover {color: brand-color('instagram');}
        .rss:hover {color: brand-color('rss');}
    }

    &.share,
    &.link-external {
        align-items: center;

        color: $primary;

        li:not(:first-of-type) {
            margin-left: 1rem;
        }

        a {
            width: unset;
            height: unset;
            padding: .125em;
            border: 0;

            font-size: 1.875rem;

            &.facebook {
                color: brand-color('facebook');
            }

            &.twitter {
                color: brand-color('twitter');
            }

            &.google {
                color: brand-color('google-plus');
            }

            &.linkedin {
                color: brand-color('linkedin');
            }

            &.pinterest {
                color: brand-color('pinterest');
            }

            &.instagram {
                color: brand-color('instagram');
            }

            &:hover {
                color: $primary;
            }
        }

        .text span {
            &::after {
                content: 'Share this article';
            }
        }

        // Social share links hover to reveal text
        .fb-li:hover ~ .text span {
            color: brand-color('facebook');
            border-color: brand-color('facebook');

            &::after {
                content: 'Share on Facebook';
            }
        }

        .tw-li:hover ~ .text span {
            color: brand-color('twitter');
            border-color: brand-color('twitter');

            &::after {
                content: 'Share on Twitter';
            }
        }

        .go-li:hover ~ .text span {
            color: brand-color('google-plus');
            border-color: brand-color('google-plus');

            &::after {
                content: 'Share on Google+';
            }
        }

        .li-li:hover ~ .text span {
            color: brand-color('linkedin');
            border-color: brand-color('linkedin');

            &::after {
                content: 'Share on Linked In';
            }
        }

        .pi-li:hover ~ .text span {
            color: brand-color('pinterest');
            border-color: brand-color('pinterest');

            &::after {
                content: 'Share on Pinterest';
            }
        }

        .in-li:hover ~ .text span {
            color: brand-color('instagram');
            border-color: brand-color('instagram');

            &::after {
                content: 'Share on Instagram';
            }
        }
    }

    &.link {

        align-items: center;

        li:not(:first-of-type):not(.text) {
            margin-left: .5rem;
        }

        .text {
            margin-left: .75rem;

            span::after {
                content: 'follow us on social media';
            }
        }

        // Social links hover to reveal text
        .fb-li:hover ~ .text span {
            color: brand-color('facebook');
            border-color: brand-color('facebook');

            &::after {
                content: 'Like us on Facebook';
            }
        }

        .tw-li:hover ~ .text span {
            color: brand-color('twitter');
            border-color: brand-color('twitter');

            &::after {
                content: 'Follow us on Twitter';
            }
        }

        .go-li:hover ~ .text span {
            color: brand-color('google-plus');
            border-color: brand-color('google-plus');

            &::after {
                content: 'Visit us on Google+';
            }
        }

        .li-li:hover ~ .text span {
            color: brand-color('linkedin');
            border-color: brand-color('linkedin');

            &::after {
                content: 'Follow us on LinkedIn';
            }
        }

        .in-li:hover ~ .text span {
            color: brand-color('instagram');
            border-color: brand-color('instagram');

            &::after {
                content: 'Follow us on Instagram';
            }
        }

        .rs-li:hover ~ .text span {
            color: brand-color('rss');
            border-color: brand-color('rss');

            &::after {
                content: 'See our RSS feed';
            }
        }
    }

    &.link-external {
        a {
            font-size: inherit;
        }
    }

    &.wow-true {
        li {
            &:nth-of-type(1) {animation-delay: .2s;}
            &:nth-of-type(2) {animation-delay: .4s;}
            &:nth-of-type(3) {animation-delay: .6s;}
            &:nth-of-type(4) {animation-delay: .8s;}
            &:nth-of-type(5) {animation-delay: 1s;}
        }
    }

    .text {
        display: flex;
        align-items: center;

        span {
            display: none;
            padding: 0;

            border-bottom: 1px dotted;
            border-color: transparent;
            color: $gray-500;

            font-family: $font-family-sans-serif;
            font-size: 1.25rem;

            transition: all .3s ease-in-out;

            // @media #{$small-up}     { ... }
            @media #{$medium-up}    {
                display: initial;
            }
            // @media #{$large-up}     { ... }
            // @media #{$xlarge-up}    { ... }
            // @media #{$xxlarge-up}   { ... }
        }
    }
}

.button,
%button {
    position: relative;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    min-width: 230px;
    padding: .875rem 2rem;

    cursor: pointer;

    border-radius: 0;

    font-family: $font-family-sans-serif;
    font-size: 1rem;
    // font-style: italic;
    text-align: center;

    transition: background-color $transition-duration-general;

    span {
        max-width: 97.5%;
    }

    // icon
    .button-icon {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);

        font-size: 1.25em;

        &::before {
            text-shadow: 0 0 0 rgba($primary, 0);
            transition: text-shadow 1s ease-in-out;
        }

    }

    // ajax loading
    .loading-ajax {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0;

        font-size: 1.25em;

        transition: opacity .2s ease-in-out;
        transition-delay: .2s;

        &.active {
            opacity: 1;
        }
    }

    &:hover i::before {
        text-shadow: 0 0 10px rgba($primary, .75);
    }

    &:active {
        span {
            animation: growSpan 1s;

            @keyframes growSpan {
                0%, 100% {
                    letter-spacing: 0;
                }

                50% {
                    letter-spacing: .025em;
                }
            }
        }
    }

    &.button-solid {
        &.button-primary {
            background-color: $primary;
            border-color: $primary;
            color: $secondary;

            &:hover {
                background-color: darken($primary, 10%);
            }

            .loading-ajax {
                background-color: $primary;
            }
        }

        &.button-white {
            background-color: $white;
            border-color: $white;
            color: $secondary;

            &:hover {
                background-color: rgba($white, .75);
            }

            .loading-ajax {
                background-color: $white;
            }
        }
    }


    &.button-outline {
        border: 1px solid;

        &.button-primary {
            background: none;
            border-color: $primary;
            color: $secondary;

            &:hover {
                background-color: rgba(darken($primary, 10%), .2);
            }

            .loading-ajax {
                background-color: $white;
                border-color: $primary;
            }
        }

        &.button-white {
            background: none;
            border-color: $white;
            color: $secondary;


            &:hover {
                background-color: rgba($white, .75);
            }

            .loading-ajax {
                background-color: $white;
                border-color: $white;
            }
        }
    }

    &.button-tag {
        border: 0;
        cursor: pointer;
    }

    &.button-hover-true {
        $button-hover-height: calc(calc(2*.875rem) + 1.25rem);

        overflow: hidden;
        height: #{$button-hover-height};
        display: inline-block;

        span {
            display: block;
            height: #{$button-hover-height};

            transition: all .3s ease-in-out;
            transition-delay: .15s;
        }

        .button-icon {
            transition: all .15s ease-in-out;
            transition-delay: .15s;
        }

        .icon-two {
            opacity: 0;
        }

        &:hover {
            .first {
                margin-top: calc(-1 * #{$button-hover-height});
            }

            .icon-one {
                opacity: 0;
            }

            .icon-two {
                opacity: 1;
            }
        }
    }

    // Memberpress login and form submit buttons
    &.mepr-share-button,
    &.mepr-submit {
        background-color: $primary;
        border: 0;
        color: $secondary;

        &:hover {
            background-color: darken($primary, 10%);
            cursor: pointer;
        }
    }

    // Buttons that are actually inputs should not be flex
    @at-root {
        input#{&} {
            display: inline-block;
        }
    }

    &.has-mobile-variant {
        min-width: 85px;
        padding: .5rem;

        @media #{$medium-up} {
            min-width: 230px;
            padding: .875rem 2rem;
        }

        span {
            max-width: 100%;
        }

        .joy-phone {
            display: block;

            @media #{$medium-up} {
                display: none;
            }
        }

        .medium-up {
            display: none;

            @media #{$medium-up} {
                display: block;
            }
        }
    }
}
