// Use this file to create breakpoints

// Defining values
$xsmall-range: (0);
$small-range: (576px);
$medium-range: (768px);
$large-range: (992px);
$xlarge-range: (1200px);
$xsmall-range-top: ($small-range - 1);
$small-range-top: ($medium-range - 1);
$medium-range-top: ($large-range - 1);
$large-range-top: ($xlarge-range - 1);

// Defining media queries
$screen: 'only screen' !default;
$xsmall-up: $screen !default;
$xsmall-only: #{$screen} and (max-width: $xsmall-range-top) !default;
$small-up: #{$screen} and (min-width:$small-range) !default;
$small-only: #{$screen} and (min-width:$small-range) and (max-width:$small-range-top) !default;
$medium-up: #{$screen} and (min-width:$medium-range) !default;
$medium-only: #{$screen} and (min-width:$medium-range) and (max-width:$medium-range-top) !default;
$large-up: #{$screen} and (min-width:$large-range) !default;
$large-only: #{$screen} and (min-width:$large-range) and (max-width:$large-range-top) !default;
$xlarge-up: #{$screen} and (min-width:$xlarge-range) !default;
$xlarge-only: #{$screen} and (min-width:$xlarge-range) !default;

// Usage
// @media #{$small-up}     { ... }
// @media #{$small-only}   { ... }
// @media #{$medium-up}    { ... }
// @media #{$medium-only}  { ... }
// @media #{$large-up}     { ... }
// @media #{$large-only}   { ... }
// @media #{$xlarge-up}    { ... }
// @media #{$xlarge-only}  { ... }
// @media #{$xxlarge-up}   { ... }
// @media #{$xxlarge-only} { ... }

